[project]
	description = Simple Interactive Graphical Editor Simulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/King James (trs-king)
[access "refs/for/refs/*"]
	read = group user/King James (trs-king)
	push = group user/King James (trs-king)
	label-Code-Review = -2..+2 group user/King James (trs-king)
	label-Verified = -1..+1 group user/King James (trs-king)
	rebase = group user/King James (trs-king)
	removeReviewer = group user/King James (trs-king)
	submit = group user/King James (trs-king)
[access "refs/heads/*"]
	read = group user/King James (trs-king)
	create = group user/King James (trs-king)
	push = +force group user/King James (trs-king)
	pushMerge = group user/King James (trs-king)
[access "refs/tags/*"]
	push = +force group user/King James (trs-king)
	pushTag = group user/King James (trs-king)
	pushSignedTag = group user/King James (trs-king)
